<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col width="100%">
        <ion-list>
          <p>Welcome: <b>{{ myIdentity }}</b></p>
          <form (ngSubmit)="call()">
            <ion-item>
              <ion-label fixed>
                Dial Identity
              </ion-label>
              <ion-input [(ngModel)]="callTo" name="callTo" placeholder="identity"></ion-input>
            </ion-item>
            <button ion-button type="submit" block>Call</button>
          </form>
          <div [hidden]="!callFrom">
            <p>Receiving a call from {{callFrom}}</p>
            <button ion-button (click)="acceptCall()" block>Accept</button>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
